<form id ="frmSearch" action="/" method="POST">
	<input type="text" id="txtSearch" name="txtSearch" alt="Search Criteria" 
	onkeyup="searchSuggest();" autocomplete="off" />
	<input type="submit" id="cmdSearch" name="cmdSearch" value="Search" alt="Run Search" />
	<div id="search_suggest"></div>
</form>

