<!DOCTYPE HTML>
	<head>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="styles/custom.css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="scripts/ajax_search.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
  		<div class="container-fluid">	
  			<div class="navbar-header">
  				 <div class="navbar-brand">PolitiPhrase</div>
  				</div>
  			</div>
  		</div>
  	</nav>
		<br>
		<br>
		<div class="row">
			<div class="col-md-12">
				<div class="text-center"><%=yield%></div>
			</div>
		</div>

	</body>
 </html>